.header {
  display: flex;
  justify-content: space-between; /* Asegura que el logo y la navegación estén separados */
  align-items: center;
  padding: 20px;
  background-color: #333;
  font-family: 'Gilda Display', serif;
}

.logo {
  width: 90px;
}

/* Asegura que los elementos del contenedor .nav estén en fila */
.nav {
  display: flex;
  justify-content: center; /* Opcional: Alinea horizontalmente los enlaces dentro del contenedor */
  list-style: none; /* Elimina los puntos de la lista */
}

.nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav a:hover {
  color: #ccc;
}
