.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  font-family: 'Gilda Display', serif;
}

.logo {
  width: 90px;
}

.nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav a:hover {
  color: #ccc;
}

  